/* Browser Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* Import font */
@font-face {
    font-family: Figtree;
    src: url("./fonts/Figtree-VariableFont_wght.ttf");
}


/* Custom Properties */
:root {
    --yellow: hsl(47, 88%, 63%);
    --white:hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
    --text-base: 16px;
    --font-normal: 500;
    --font-bold: 800;
}


body{
    font-family: Figtree, sans-serif;
    font-size: var(--text-base);
    font-weight: var(--font-normal);
}

main {
    background-color: var(--yellow);
    width: 100%;
    min-height: 100vh;

    /* Center the section */
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        background-color: var(--white);
        width: 384px;
        border: 1px solid var(--gray950);
        border-radius: 18px;
        padding: 22px;
        box-shadow: 8px 8px var(--gray950);

        img.illustration {
            width: 100%;
            border-radius: 15px;
            margin-bottom: 15px;
        }

        div.category {
            width: fit-content;
            background-color: var(--yellow);
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: var(--font-bold);
            margin-bottom: 10px;
        }

        p.published {
            margin-bottom: 15px;
        }

        h1 {
            font-weight: var(--font-bold);
            margin-bottom: 15px;
            a {
                color: var(--gray950);
                text-decoration: none;
                transition: all 350ms ease-in-out;

                &:hover {
                    color: var(--yellow);
                }
            }
        }

        p.description {
            color: var(--gray500);
            margin-bottom: 15px;
        }

        div.author {
            display: flex;
            align-items: center;
            column-gap: 15px;

            img {
                width: 40px;
                height: 40px;
            }

            p {
                font-weight: var(--font-bold);
            }

        }

    }
}


